@import "tailwindcss";
@import "@nuxt/ui";

:root {
  font-family: "Kanit", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}


/* ให้ตัวอักษรใน input/textarea เป็นสีดำ */
input, textarea, select {
  color: #0f172a; /* slate-900 */
}
input::placeholder, textarea::placeholder {
  color: #94a3b8; /* slate-400 */
}

@layer components {
  /* ปุ่มหลัก (สีส้ม) */
  .btn-primary {
    @apply flex h-[45px] w-full items-center justify-center gap-[10px]
      rounded-2xl bg-[#ED7E24] px-4 py-[10px]
      text-base font-semibold leading-6 text-white;
  }

  /* ปุ่มรอง (พื้นอ่อน) */
  .btn-secondary {
    @apply flex h-[45px] w-full items-center justify-center gap-[10px]
      rounded-2xl bg-[#FFEEE2] px-4 py-[10px]
      text-base font-semibold leading-6 text-slate-900;
  }

  /* ปุ่มไอคอน social */
  .btn-social {
    @apply grid h-14 w-16 place-items-center rounded-[14px] border border-slate-200 bg-white;
  }
}


